[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
pykeyboard = "*"
pywin32 = "*"
pyuserinput = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"
